.signinForm {
    max-width: 477px;

    .signinForm-email {
        margin-bottom: 24px;
    
        >input {
            border: 2px solid #545F7D26;
            padding: 18px 16px 18px 16px;
            border-radius: 5px;
            outline: none;
    
            ::placeholder {
                font-weight: lighter;
            }
        }
    }
    .signinForm-password {
        margin-bottom: 24px;
    
        >input {
            border: 2px solid #545F7D26;
            padding: 18px 16px 18px 16px;
            border-radius: 5px;
            outline: none;
    
            ::placeholder {
                font-weight: lighter;
            }
        }
    
        >span {
            color: #39CDCC;
            font-size: 12px;
            letter-spacing: 0.1em;
            font-weight: 600;
            cursor: pointer;
        }
    }

    .forgotPassword {
        color: #39CDCC;
            font-size: 12px;
            letter-spacing: 0.1em;
            font-weight: 600;
            cursor: pointer;
    }

    button {
        background-color: #39CDCC;
        border-radius: 8px;
        width: 100%;
        color: white;
        font-weight: 600;
        padding: 15px;
        letter-spacing: 0.1em;
    }
}
